Repository PaddlePaddle/VisualDL: changes, and which pre-commit hooks are due for each by the changed paths.
All: fe, yapf

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-symlinks
      - id: destroyed-symlinks
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        alias: be
        exclude: ^frontend/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: fe
        name: lint-staged
        entry: ./frontend/scripts/lint-staged.sh
        language: node
        files: ^frontend/
        description: lint frontend code by lint-staged
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.4.0
    hooks:
      - id: reorder-python-imports

  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        args: [-i, --style .style.yapf]
        files: \.py$

profilerchange1
  frontend/packages/core/package.json
  frontend/packages/core/public/locales/en/common.json
  frontend/packages/core/public/locales/zh/common.json
  frontend/packages/core/snowpack.config.js
  frontend/packages/core/src/App.tsx
  frontend/packages/core/src/components/ProfilerPage/ColorMap.tsx
  frontend/packages/core/src/components/ProfilerPage/Empty.tsx
  frontend/packages/core/src/components/ProfilerPage/IndicatorFilter/IndicatorFilter.tsx
  frontend/packages/core/src/components/ProfilerPage/IndicatorFilter/index.ts
  frontend/packages/core/src/components/ProfilerPage/NuclearView.tsx
  frontend/packages/core/src/components/ProfilerPage/OperatorView.tsx
  frontend/packages/core/src/components/ProfilerPage/overview.tsx
  frontend/packages/core/src/components/StackColumnChart.tsx
  frontend/packages/core/src/components/Trainchart.tsx
  frontend/packages/core/src/components/pieChart.tsx
  frontend/packages/core/src/pages/profiler.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/yarn.lock
Due: fe

add readme
  README.md
  README_CN.md
  docs/README.md
  docs/README_CN.md
  docs/components/README.md
  docs/components/README_CN.md
  visualdl/reader/graph_reader.py
  visualdl/version.py
Due: yapf

support old graph
  README.md
  README_CN.md
  docs/README.md
  docs/README_CN.md
  docs/components/README.md
  docs/components/README_CN.md
  visualdl/reader/graph_reader.py
  visualdl/server/api.py
  visualdl/server/lib.py
Due: yapf

graph/static_graph
  frontend/packages/core/src/pages/graphStatic.tsx
  frontend/packages/mock/data/graph/static_graph.js
Due: fe

profilerChange6
  frontend/packages/core/src/components/ProfilerPage/OperatorView.tsx
Due: fe

compatible2
  frontend/packages/core/src/pages/graphDynamic.tsx
Due: fe

fix
  visualdl/server/api.py
Due: yapf

bug1
  frontend/packages/core/src/pages/graphDynamic.tsx
  frontend/packages/core/src/pages/graphStatic.tsx
Due: fe

Compatible with the original static image mode
  frontend/packages/core/src/pages/graphDynamic.tsx
  frontend/packages/core/src/pages/graphStatic.tsx
Due: fe

cssChange1
  frontend/packages/netron/src/style.scss
  frontend/packages/netron/src/view-grapher.js
Due: fe

Upgrade version and docs
  README.md
  README_CN.md
  docs/README.md
  docs/README_CN.md
  docs/components/README.md
  docs/components/README_CN.md
  visualdl/reader/graph_reader.py
  visualdl/server/api.py
  visualdl/server/lib.py
  visualdl/version.py
Due: yapf

Optimize visual effects
  frontend/packages/netron/src/style.scss
  frontend/packages/netron/src/view-grapher.js
Due: fe

add change log
  CHANGELOG.md
Due: none

add change log (#1099)
  CHANGELOG.md
Due: none

change1
  frontend/packages/core/src/components/BarsChart.tsx
  frontend/packages/core/src/components/DistributedChart.tsx
  frontend/packages/core/src/components/ProfilerPage/ComparedView.tsx
  frontend/packages/core/src/components/ProfilerPage/IndicatorFilter/IndicatorFilter.tsx
  frontend/packages/core/src/components/ProfilerPage/MemoryView.tsx
  frontend/packages/core/src/components/ProfilerPage/NuclearView.tsx
  frontend/packages/core/src/components/ProfilerPage/OperatorView.tsx
  frontend/packages/core/src/components/ProfilerPage/model.tsx
  frontend/packages/core/src/components/ProfilerPage/overview.tsx
  frontend/packages/core/src/components/Trainchart.tsx
  frontend/packages/core/src/components/pieChart.tsx
  frontend/packages/core/src/components/searchInput2.tsx
  frontend/packages/core/src/pages/profiler.tsx
  frontend/packages/mock/data/profiler/comparedView/pie.js
  frontend/packages/mock/data/profiler/overview/distributed.js
  frontend/packages/mock/data/profiler/overview/environment.js
  frontend/packages/mock/data/profiler/overview/performance.js
  frontend/packages/mock/data/profiler/overview/pie.js
  frontend/packages/mock/data/profiler/runs.js
  frontend/packages/mock/data/profiler/spans.js
  frontend/packages/mock/data/profiler/views.js
  frontend/packages/mock/data/profiler/workers.js
Due: fe

change3
  frontend/packages/core/src/components/ComparsionChart.tsx
  frontend/packages/core/src/components/Content.tsx
  frontend/packages/core/src/components/ProfilerPage/DiffView.tsx
  frontend/packages/core/src/pages/profiler.tsx
Due: fe

2022-7-7
  frontend/packages/core/src/assets/images/hover.svg
  frontend/packages/core/src/assets/images/右-点击.svg
  frontend/packages/core/src/assets/images/右-默认.svg
  frontend/packages/core/src/assets/images/左-点击.svg
  frontend/packages/core/src/assets/images/左-默认.svg
  frontend/packages/core/src/assets/images/默认.svg
  frontend/packages/core/src/components/ComparsionChart.tsx
  frontend/packages/core/src/components/DistributedChart.tsx
  frontend/packages/core/src/components/ExecutionDiffChart.tsx
  frontend/packages/core/src/components/ProfilerPage/ComparedView.tsx
  frontend/packages/core/src/components/ProfilerPage/DiffView.tsx
  frontend/packages/core/src/components/ProfilerPage/MemoryView.tsx
  frontend/packages/core/src/components/ProfilerPage/NuclearView.tsx
  frontend/packages/core/src/components/ProfilerPage/OperatorView.tsx
  frontend/packages/core/src/components/ProfilerPage/overview.tsx
  frontend/packages/core/src/components/StackColumnChart.tsx
  frontend/packages/core/src/components/Trainchart.tsx
  frontend/packages/core/src/components/pieChart.tsx
  frontend/packages/core/src/components/searchInput2.tsx
  frontend/packages/core/src/pages/profiler.tsx
  frontend/packages/icons/icons/defaultLeft.svg
  frontend/packages/icons/icons/defaultRight.svg
  frontend/packages/icons/icons/hover.svg
  frontend/packages/icons/icons/left.svg
  frontend/packages/icons/icons/right.svg
  frontend/packages/mock/data/profiler/NuclearView/Computation.js
  frontend/packages/mock/data/profiler/NuclearView/distributed.js
  frontend/packages/mock/data/profiler/OperatorView/pie.js
  frontend/packages/mock/data/profiler/OperatorView/table.js
  frontend/packages/mock/data/profiler/comparedView/pie.js
  frontend/packages/mock/data/profiler/memory/line.js
  frontend/packages/mock/data/profiler/operator/pie.js
  frontend/packages/mock/data/profiler/operator/table.js
  frontend/packages/mock/data/profiler/overview/distributed.js
Due: fe

2022-7-10
  frontend/packages/core/src/components/BarsChart.tsx
  frontend/packages/core/src/components/ProfilerPage/ComparedView.tsx
  frontend/packages/core/src/components/ProfilerPage/NuclearView.tsx
  frontend/packages/core/src/components/ProfilerPage/OperatorView.tsx
  frontend/packages/core/src/components/ProfilerPage/overview.tsx
  frontend/packages/core/src/components/StackColumnChart.tsx
  frontend/packages/core/src/components/Trainchart.tsx
  frontend/packages/core/src/components/pieChart.tsx
  frontend/packages/mock/data/profiler/ComparedView/pie.js
  frontend/packages/mock/data/profiler/ComparedView/table.js
  frontend/packages/mock/data/profiler/units.js
Due: fe

2022-7-14
  frontend/packages/core/public/static/index.html
  frontend/packages/core/public/static/index.js
  frontend/packages/core/public/static/trace_embedding.html
  frontend/packages/core/public/static/trace_viewer_full.html
  frontend/packages/core/snowpack.config.js
  frontend/packages/core/src/assets/images/question-circle.svg
  frontend/packages/core/src/components/BarsChart.tsx
  frontend/packages/core/src/components/ComparsionChart.tsx
  frontend/packages/core/src/components/DistributedChart.tsx
  frontend/packages/core/src/components/GraphPage/Graph.tsx
  frontend/packages/core/src/components/ProfilerPage/ComparedView.tsx
  frontend/packages/core/src/components/ProfilerPage/DiffView.tsx
  frontend/packages/core/src/components/ProfilerPage/MemoryView.tsx
  frontend/packages/core/src/components/ProfilerPage/NuclearView.tsx
  frontend/packages/core/src/components/ProfilerPage/OperatorView.tsx
  frontend/packages/core/src/components/ProfilerPage/TracingView.tsx
  frontend/packages/core/src/components/ProfilerPage/model.tsx
  frontend/packages/core/src/components/ProfilerPage/overview.tsx
  frontend/packages/core/src/components/StackColumnChart.tsx
  frontend/packages/core/src/components/Trainchart.tsx
  frontend/packages/core/src/components/pieChart.tsx
  frontend/packages/core/src/pages/profiler.tsx
  frontend/packages/core/tsconfig.json
  frontend/packages/mock/data/profiler/kernel/pie.js
  frontend/packages/mock/data/profiler/kernel/table.js
  frontend/packages/mock/data/profiler/operator.js/pie.js
  frontend/packages/mock/data/profiler/operator.js/table.js
  frontend/packages/mock/data/profiler/operator/stack_table.js
  frontend/packages/mock/data/profiler/overview/event_type_model_perspective.js
  frontend/packages/mock/data/profiler/overview/event_type_perspective.js
  frontend/packages/mock/data/profiler/overview/model_perspective.js
  frontend/packages/mock/data/profiler/overview/model_perspective_perstep.js
  frontend/packages/mock/data/profiler/overview/userdefined_perspective.js
  frontend/packages/mock/data/profiler/views.js
Due: fe

add initial data
  visualdl/component/profiler/parser/kernel_parser.py
  visualdl/component/profiler/parser/operator_parser.py
  visualdl/component/profiler/parser/overview_parser.py
  visualdl/component/profiler/parser/parse_data.py
  visualdl/component/profiler/parser/utils.py
  visualdl/component/profiler/profile_data.py
  visualdl/component/profiler/run_manager.py
  visualdl/reader/profiler_reader.py
  visualdl/server/app.py
Due: yapf

add initial results
  visualdl/component/profiler/parser/event_node.py
  visualdl/component/profiler/parser/gpu_metric.py
  visualdl/component/profiler/profiler_reader.py
  visualdl/component/profiler/profiler_server.py
Due: yapf

2022-7-14 2
  frontend/packages/core/src/components/ProfilerPage/TracingView.tsx
Due: fe

fix
  visualdl/component/profiler/profile_data.py
  visualdl/component/profiler/profiler_server.py
Due: yapf

2022-7-14 3
  frontend/packages/core/src/pages/profiler.tsx
Due: fe

2022-7-14 4
  frontend/packages/core/src/pages/profiler.tsx
Due: fe

2022-7-14 5
  frontend/packages/core/src/components/ProfilerPage/overview.tsx
Due: fe

2022-7-14 6
  frontend/packages/core/src/components/ProfilerPage/overview.tsx
  frontend/packages/mock/data/profiler/overview/event_type_perspective.js
Due: fe

2022-7-15
  frontend/packages/core/src/components/ExecutionDiffChart.tsx
  frontend/packages/core/src/components/ProfilerPage/overview/overview.tsx
  frontend/packages/core/src/components/ProfilerPage/overview/tools.ts
  frontend/packages/core/src/components/StackColumnChart.tsx
  frontend/packages/core/src/components/Trainchart.tsx
  frontend/packages/core/src/pages/profiler.tsx
  frontend/packages/mock/data/profiler/overview/environment.js
  frontend/packages/mock/data/profiler/overview/event_type_model_perspective.js
  frontend/packages/mock/data/profiler/overview/event_type_perspective.js
  frontend/packages/mock/data/profiler/overview/model_perspective.js
  frontend/packages/mock/data/profiler/overview/model_perspective_perstep.js
  frontend/packages/mock/data/profiler/overview/userdefined_perspective.js
  frontend/packages/mock/data/profiler/timeunits.js
  frontend/packages/mock/data/profiler/views.js
Due: fe

fix bug
  visualdl/component/profiler/parser/kernel_parser.py
  visualdl/component/profiler/parser/utils.py
  visualdl/component/profiler/profile_data.py
  visualdl/component/profiler/profiler_server.py
Due: yapf

2022-7-21
  frontend/packages/core/snowpack.config.js
  frontend/packages/core/src/components/BarsChart.tsx
  frontend/packages/core/src/components/ProfilerPage/ComparedView.tsx
  frontend/packages/core/src/components/ProfilerPage/NuclearView.tsx
  frontend/packages/core/src/components/ProfilerPage/OperatorView.tsx
  frontend/packages/core/src/components/ProfilerPage/TracingView.tsx
  frontend/packages/core/src/components/ProfilerPage/overview/overview.tsx
  frontend/packages/core/src/components/ProfilerPage/overview/tools.ts
  frontend/packages/core/src/components/ProfilerPage/overview/types.ts
  frontend/packages/core/src/components/pieChart.tsx
  frontend/packages/core/src/pages/profiler.tsx
  frontend/packages/mock/data/profiler/NuclearView/Computation.js
  frontend/packages/mock/data/profiler/distributed/histogram.js
  frontend/packages/mock/data/profiler/distributed/info.js
  frontend/packages/mock/data/profiler/distributed/steps.js
  frontend/packages/mock/data/profiler/kernel/pie.js
  frontend/packages/mock/data/profiler/kernel/table.js
  frontend/packages/mock/data/profiler/kernel/tensorcore_pie.js
  frontend/packages/mock/data/profiler/operator.js/pie.js
  frontend/packages/mock/data/profiler/operator.js/table.js
  frontend/packages/mock/data/profiler/operator/pie.js
  frontend/packages/mock/data/profiler/operator/table.js
  frontend/packages/mock/data/profiler/overview/event_type_perspective.js
  frontend/packages/mock/data/profiler/overview/model_perspective_perstep.js
  frontend/packages/mock/data/profiler/overview/userdefined_perspective.js
  frontend/packages/wasm/Cargo.toml
  frontend/packages/wasm/src/main.rs
  frontend/packages/wasm/src/scalar.rs
Due: fe

add files
  visualdl/component/profiler/parser/distributed_parser.py
  visualdl/component/profiler/parser/kernel_parser.py
  visualdl/component/profiler/parser/operator_parser.py
  visualdl/component/profiler/parser/overview_parser.py
  visualdl/component/profiler/parser/utils.py
  visualdl/component/profiler/profile_data.py
  visualdl/component/profiler/profiler_reader.py
  visualdl/component/profiler/profiler_server.py
  visualdl/component/profiler/run_manager.py
Due: yapf

2022-1-21 2
  frontend/packages/core/src/components/ProfilerPage/OperatorView.tsx
  frontend/packages/core/src/components/ProfilerPage/overview/overview.tsx
  frontend/packages/core/src/components/Trainchart.tsx
  frontend/packages/mock/data/profiler/overview/model_perspective_perstep.js
Due: fe

2022-1-21 3
  frontend/packages/core/src/components/ProfilerPage/NuclearView.tsx
Due: fe

2022-1-21 4
  frontend/packages/core/src/components/ProfilerPage/OperatorView.tsx
Due: fe

2022-1-21 5
  frontend/packages/core/src/components/ProfilerPage/overview/overview.tsx
Due: fe

2022-1-21 6
  frontend/packages/core/src/components/ProfilerPage/NuclearView.tsx
  frontend/packages/core/src/components/StackColumnChart2.tsx
  frontend/packages/mock/data/profiler/distributed/histogram.js
Due: fe

2022-1-21 7
  frontend/packages/core/src/components/ProfilerPage/ComparedView.tsx
  frontend/packages/core/src/components/ProfilerPage/NuclearView.tsx
  frontend/packages/core/src/components/ProfilerPage/OperatorView.tsx
  frontend/packages/core/src/pages/profiler.tsx
Due: fe

2022-1-21 8
  frontend/packages/core/src/components/ProfilerPage/ComparedView.tsx
  frontend/packages/core/src/components/ProfilerPage/OperatorView.tsx
  frontend/packages/core/src/components/StackColumnChart3.tsx
  frontend/packages/mock/data/profiler/distributed/info.js
  frontend/packages/mock/data/profiler/operator/pie_expand.js
Due: fe
