Repository PaddlePaddle/VisualDL: changes, and which pre-commit hooks are due for each by the changed paths.
All: fe, yapf

fe:
  name: lint-staged
  entry: ./frontend/scripts/lint-staged.sh
  language: node
  description: lint frontend code by lint-staged

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i
  - --style .style.yapf

add profiler doc
  README.md
  README_CN.md
  docs/README.md
  docs/README_CN.md
  docs/components/profiler/README.md
  docs/components/profiler/README_CN.md
Due: none

rename profiler
  visualdl/component/profiler/profiler_data.py
  visualdl/component/profiler/run_manager.py
Due: yapf

rename
  visualdl/component/profiler/profiler_reader.py
  visualdl/component/profiler/profiler_server.py
Due: yapf

rename
  visualdl/component/profiler/profiler_data.py
  visualdl/component/profiler/run_manager.py
Due: yapf

Add profiler backend
  visualdl/component/base_component.py
  visualdl/component/profiler/__init__.py
  visualdl/component/profiler/parser/__init__.py
  visualdl/component/profiler/parser/const_description.py
  visualdl/component/profiler/parser/distributed_parser.py
  visualdl/component/profiler/parser/event_node.py
  visualdl/component/profiler/parser/kernel_parser.py
  visualdl/component/profiler/parser/memory_parser.py
  visualdl/component/profiler/parser/operator_parser.py
  visualdl/component/profiler/parser/overview_parser.py
  visualdl/component/profiler/parser/trace_parser.py
  visualdl/component/profiler/parser/utils.py
  visualdl/component/profiler/profiler_data.py
  visualdl/component/profiler/profiler_reader.py
  visualdl/component/profiler/profiler_server.py
  visualdl/component/profiler/run_manager.py
  visualdl/server/api.py
  visualdl/server/app.py
Due: yapf

supplement doc
  docs/README.md
  docs/components/profiler/README.md
  docs/components/profiler/README_CN.md
Due: none

fix
  README.md
  docs/components/profiler/README.md
  docs/components/profiler/README_CN.md
Due: none

Add profiler docs
  README.md
  README_CN.md
  docs/README.md
  docs/README_CN.md
  docs/components/profiler/README.md
  docs/components/profiler/README_CN.md
Due: none

add change log
  CHANGELOG.md
Due: none

Add change log
  CHANGELOG.md
Due: none

graph
  frontend/packages/netron/src/view-grapher.js
  frontend/packages/netron/src/view2.js
Due: fe

graphchange7
  frontend/packages/netron/src/index.js
  frontend/packages/netron/src/view-grapher.js
  frontend/packages/netron/src/view.js
Due: fe

removeImage
  frontend/packages/core/src/assets/images/右-默认.svg
  frontend/packages/core/src/assets/images/左-默认.svg
  frontend/packages/core/src/assets/images/默认.svg
Due: fe

removelog
  frontend/packages/netron/src/view-grapher.js
Due: fe

removelog2
  frontend/packages/netron/src/view2.js
Due: fe

add multiprocess dependency
  requirements.txt
Due: none

graphchange 8
  frontend/packages/netron/src/index.js
  frontend/packages/netron/src/sidebar.js
  frontend/packages/netron/src/view-grapher.js
  frontend/packages/netron/src/view.js
  frontend/packages/netron/src/view2.js
Due: fe

graphchange12
  frontend/packages/core/src/components/GraphPage/GraphDynamic.tsx
  frontend/packages/mock/data/graph/graph2.js
Due: fe

add protobuf file support
  visualdl/component/profiler/parser/event_node.py
  visualdl/component/profiler/profiler_reader.py
Due: yapf

multiprocess for protobuf file
  visualdl/component/profiler/parser/event_node.py
  visualdl/component/profiler/profiler_data.py
  visualdl/component/profiler/profiler_reader.py
Due: yapf

shield messages from c++
  requirements.txt
  visualdl/component/profiler/parser/utils.py
  visualdl/component/profiler/profiler_reader.py
Due: yapf

shield messages from c++
  visualdl/component/profiler/profiler_reader.py
Due: yapf

Add protobuf file support in profiling
  requirements.txt
  visualdl/component/profiler/parser/event_node.py
  visualdl/component/profiler/parser/utils.py
  visualdl/component/profiler/profiler_data.py
  visualdl/component/profiler/profiler_reader.py
Due: yapf

Add multiprocess dependency
  requirements.txt
Due: none

Fix the packaging problem caused by Chinese characters in svg resource files
  frontend/packages/core/src/assets/images/右-默认.svg
  frontend/packages/core/src/assets/images/左-默认.svg
  frontend/packages/core/src/assets/images/默认.svg
  frontend/packages/netron/src/view-grapher.js
  frontend/packages/netron/src/view2.js
Due: fe

bump vdl to v2.4.1
  CHANGELOG.md
  visualdl/version.py
Due: yapf

fix
  CHANGELOG.md
Due: none

Fix requirements and packaging issues in version 2.4.0
  CHANGELOG.md
  visualdl/version.py
Due: yapf

111
  frontend/packages/core/src/components/LineChart.tsx
  frontend/packages/core/src/components/ScalarChart.tsx
  frontend/packages/core/src/hooks/useECharts.ts
  frontend/packages/core/src/pages/scalar.tsx
Due: fe

add profiler_test demo code
  demo/components/profiler_test.py
Due: yapf

add scalars test demo
  demo/components/scalars_test.py
Due: yapf

fix
  visualdl/server/lib.py
Due: yapf

adapt scalars to scalar
  demo/components/scalars_test.py
  visualdl/reader/reader.py
  visualdl/server/data_manager.py
  visualdl/server/lib.py
Due: yapf

remove unused code
  visualdl/server/data_manager.py
  visualdl/server/lib.py
Due: yapf

fix demo code
  demo/components/scalars_test.py
  visualdl/component/__init__.py
Due: yapf

fix proto version
  visualdl/proto/record_pb2.py
Due: yapf

upgrade protoc to v3.19.0
  visualdl/proto/record_pb2.py
Due: yapf

Path conditions:
  fe: any of: ^frontend/
  yapf: any of: \.py$
