Repository PaddlePaddle/VisualDL: changes, and which pre-commit hooks are due for each by the changed paths.
All: fe, yapf

fe:
  name: lint-staged
  entry: ./frontend/scripts/lint-staged.sh
  language: node
  description: lint frontend code by lint-staged

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i
  - --style .style.yapf

routeChange
  frontend/packages/core/src/App.tsx
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/mock/data/app/component_tabs.js
Due: fe

11-17
  frontend/packages/core/src/App.tsx
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

11-17 02
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

11-17 04
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

routechange2
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

11-18
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/mock/data/app/component_tabs.js
Due: fe

11-18 2
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

x2paddle转换前端代码 (#1153)
  frontend/packages/core/package.json
  frontend/packages/core/public/locales/en/common.json
  frontend/packages/core/public/locales/en/graph.json
  frontend/packages/core/public/locales/en/togglegraph.json
  frontend/packages/core/public/locales/zh/common.json
  frontend/packages/core/public/locales/zh/graph.json
  frontend/packages/core/public/locales/zh/togglegraph.json
  frontend/packages/core/snowpack.config.js
  frontend/packages/core/src/App.tsx
  frontend/packages/core/src/components/GraphPage/GraphSidebar.tsx
  frontend/packages/core/src/components/GraphPage/GraphStatic2.tsx
  frontend/packages/core/src/components/GraphPage/Uploader.tsx
  frontend/packages/core/src/components/toggleGraph/index.tsx
  frontend/packages/core/src/pages/graphStatic2.tsx
  frontend/packages/core/src/pages/x2paddle.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/core/src/utils/fetch.ts
  frontend/packages/core/types/netron.d.ts
  frontend/packages/netron2/.browserslistrc
  frontend/packages/netron2/README.md
  frontend/packages/netron2/package.json
  frontend/packages/netron2/postcss.config.js
  frontend/packages/netron2/src/index.html
  frontend/packages/netron2/src/index.js
  frontend/packages/netron2/src/paddle-metadata.js
  frontend/packages/netron2/src/shim.js
  frontend/packages/netron2/src/sidebar.js
  frontend/packages/netron2/src/style.scss
  frontend/packages/netron2/src/view-grapher.js
  frontend/packages/netron2/src/view.js
  frontend/packages/netron2/src/view2.js
  frontend/packages/netron2/webpack.config.js
  frontend/packages/server/index.ts
  frontend/yarn.lock
Due: fe

112
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

x2paddle
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

x2paddles
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/mock/data/app/component_tabs.js
Due: fe

x2paddles
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

前端 路由选项卡模块代码 (#1159)
  frontend/packages/core/src/App.tsx
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/mock/data/app/component_tabs.js
Due: fe

add available component tab control (#1157)
  visualdl/component/profiler/profiler_reader.py
  visualdl/component/profiler/profiler_server.py
  visualdl/reader/graph_reader.py
  visualdl/reader/reader.py
  visualdl/server/api.py
  visualdl/server/app.py
  visualdl/server/args.py
Due: yapf

add denpendency
  requirements.txt
Due: none

fileNames
  frontend/packages/core/src/pages/x2paddle.tsx
Due: fe

fileNames (#1161)
  frontend/packages/core/src/pages/x2paddle.tsx
Due: fe

fix expport bug when multiple blocks in graph
  visualdl/component/graph/exporter.py
  visualdl/component/graph/graph_component.py
  visualdl/writer/writer.py
Due: yapf

fixgoutebug
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/mock/data/app/component_tabs.js
Due: fe

fixgoutebug2
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/mock/data/app/component_tabs.js
Due: fe

fixtype
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

add backend support for fastdeploy server
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
  visualdl/component/inference/proto/model_config.protxt
  visualdl/component/inference/proto/model_config/protxt_pb2.py
  visualdl/server/app.py
Due: yapf

fix
  visualdl/component/inference/fastdeploy_lib.py
Due: yapf

fix static_graph
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

修复路由跳转bug (#1163)
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/mock/data/app/component_tabs.js
Due: fe

fix static_graph (#1164)
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

type
  frontend/packages/core/src/components/StackChart.tsx
  frontend/packages/mock/data/app/component_tabs.js
  frontend/yarn.lock
Due: fe

add code
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

🐞 fix: 修复profiler trace页面
  frontend/packages/core/snowpack.config.js
Due: fe

fix a bug when device info not exists in json format
  visualdl/component/profiler/parser/event_node.py
  visualdl/component/profiler/profiler_data.py
  visualdl/component/profiler/profiler_reader.py
  visualdl/component/profiler/profiler_server.py
  visualdl/component/profiler/run_manager.py
Due: yapf

add onnx dependency
  requirements.txt
  visualdl/component/inference/model_convert_server.py
Due: yapf

11-27
  frontend/packages/core/src/pages/Fastdeploy.tsx
Due: fe

add profiler_test demo code (#1143)
  demo/components/profiler_test.py
Due: yapf

Add scalars component (#1081)
  demo/components/scalars_test.py
  visualdl/component/base_component.py
  visualdl/proto/record.proto
  visualdl/proto/record_pb2.py
  visualdl/reader/reader.py
  visualdl/server/api.py
  visualdl/server/data_manager.py
  visualdl/server/lib.py
  visualdl/writer/writer.py
Due: yapf

fix BOS file existence judgement bug (#1022)
  visualdl/io/bfile.py
Due: yapf

fix a bug when device info not exists in json format (#1166)
  visualdl/component/profiler/parser/event_node.py
  visualdl/component/profiler/profiler_data.py
  visualdl/component/profiler/profiler_reader.py
  visualdl/component/profiler/profiler_server.py
  visualdl/component/profiler/run_manager.py
Due: yapf

fix
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
  visualdl/server/app.py
Due: yapf

fix
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

support multiple vdl process when using gunicorn for x2paddle
  visualdl/component/inference/model_convert_server.py
  visualdl/utils/dir.py
Due: yapf

Path conditions:
  fe: any of: ^frontend/
  yapf: any of: \.py$
