Repository PaddlePaddle/VisualDL: changes, and which pre-commit hooks are due for each by the changed paths.
All: fe, yapf

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-symlinks
      - id: destroyed-symlinks
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        alias: be
        exclude: ^frontend/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: fe
        name: lint-staged
        entry: ./frontend/scripts/lint-staged.sh
        language: node
        files: ^frontend/
        description: lint frontend code by lint-staged
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.4.0
    hooks:
      - id: reorder-python-imports

  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        args: [-i, --style .style.yapf]
        files: \.py$

filetype19
  frontend/packages/core/src/components/GraphPage/GraphStaticXpaddle.tsx
  frontend/packages/core/src/components/GraphPage/GraphStaticXpaddleChange.tsx
  frontend/packages/core/src/pages/graphStaticXpaddel.tsx
  frontend/packages/core/src/pages/graphStaticXpaddleChange.tsx
Due: fe

filetype20
  frontend/packages/core/src/pages/x2paddle.tsx
Due: fe

add animation for converting
  frontend/packages/core/package.json
  frontend/packages/core/public/locales/en/togglegraph.json
  frontend/packages/core/public/locales/zh/togglegraph.json
  frontend/packages/core/src/components/Onnx2PaddleUpload.tsx
  frontend/packages/core/src/components/Paddle2OnnxUpload.tsx
Due: fe

add animation for downloading
  frontend/packages/core/public/locales/en/togglegraph.json
  frontend/packages/core/public/locales/zh/togglegraph.json
  frontend/packages/core/src/components/Onnx2PaddleUpload.tsx
  frontend/packages/core/src/components/Paddle2OnnxUpload.tsx
  frontend/packages/core/src/components/styles.css
  frontend/packages/core/src/pages/x2paddle.tsx
  frontend/packages/core/src/utils/fetch.ts
Due: fe

optimize logic
  frontend/packages/core/src/components/Onnx2PaddleUpload.tsx
  frontend/packages/core/src/components/Paddle2OnnxUpload.tsx
  frontend/packages/core/src/pages/graphStatic2.tsx
  frontend/packages/core/src/pages/x2paddle.tsx
  visualdl/component/inference/model_convert_server.py
  visualdl/io/bfile.py
Due: fe, yapf

add text
  frontend/packages/core/public/locales/en/togglegraph.json
  frontend/packages/core/public/locales/zh/togglegraph.json
  frontend/packages/core/src/components/Onnx2PaddleUpload.tsx
  frontend/packages/core/src/pages/x2paddle.tsx
Due: fe

update
  frontend/packages/core/package.json
  frontend/packages/core/src/components/Onnx2PaddleUpload.tsx
  frontend/packages/core/src/pages/x2paddle.tsx
Due: fe

[Frontend] Add model convertion frontend (#1232)
  frontend/packages/core/public/locales/en/common.json
  frontend/packages/core/public/locales/en/togglegraph.json
  frontend/packages/core/public/locales/zh/common.json
  frontend/packages/core/public/locales/zh/togglegraph.json
  frontend/packages/core/src/components/ContentXpaddle.tsx
  frontend/packages/core/src/components/GraphPage/GraphStatic2.tsx
  frontend/packages/core/src/components/GraphPage/GraphStatic3.tsx
  frontend/packages/core/src/components/Onnx2PaddleUpload.tsx
  frontend/packages/core/src/components/Paddle2OnnxUpload.tsx
  frontend/packages/core/src/components/styles.css
  frontend/packages/core/src/pages/graphStatic2.tsx
  frontend/packages/core/src/pages/graphStatic3.tsx
  frontend/packages/core/src/pages/x2paddle.tsx
  frontend/packages/core/src/utils/fetch.ts
  frontend/packages/mock/data/inference/onnx2paddle/convert.js
  frontend/packages/mock/data/inference/paddle2onnx/convert.js
  visualdl/component/inference/model_convert_server.py
  visualdl/io/bfile.py
Due: fe, yapf

fix graph
  visualdl/component/graph/graph_component.py
Due: yapf

fix export graph bug in windows
  visualdl/component/graph/graph_component.py
Due: yapf

fix format
  visualdl/component/graph/graph_component.py
Due: yapf

[Bug] Fix export graph bug in windows (#1244)
  visualdl/component/graph/graph_component.py
Due: yapf

fix coompatible pproblem for python3.10 and gradio
  requirements.txt
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
Due: yapf

fix coompatible pproblem for python3.10 and gradio (#1249)
  requirements.txt
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
Due: yapf

[New Feature] Add paddle2onnx component (#1228)
  requirements.txt
  visualdl/component/inference/model_convert_server.py
  visualdl/io/bfile.py
Due: yapf

bump visualdl to v2.5.2
  CHANGELOG.md
  visualdl/version.py
Due: yapf

Bump vdl to v2.5.2 (#1250)
  CHANGELOG.md
  frontend/packages/core/public/locales/en/common.json
  frontend/packages/core/public/locales/en/togglegraph.json
  frontend/packages/core/public/locales/zh/common.json
  frontend/packages/core/public/locales/zh/togglegraph.json
  frontend/packages/core/src/components/ContentXpaddle.tsx
  frontend/packages/core/src/components/GraphPage/GraphStatic2.tsx
  frontend/packages/core/src/components/GraphPage/GraphStatic3.tsx
  frontend/packages/core/src/components/Onnx2PaddleUpload.tsx
  frontend/packages/core/src/components/Paddle2OnnxUpload.tsx
  frontend/packages/core/src/components/styles.css
  frontend/packages/core/src/pages/graphStatic2.tsx
  frontend/packages/core/src/pages/graphStatic3.tsx
  frontend/packages/core/src/pages/x2paddle.tsx
  frontend/packages/core/src/utils/fetch.ts
  frontend/packages/mock/data/inference/onnx2paddle/convert.js
  frontend/packages/mock/data/inference/paddle2onnx/convert.js
  requirements.txt
  visualdl/component/graph/graph_component.py
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
  visualdl/component/inference/model_convert_server.py
  visualdl/io/bfile.py
  visualdl/version.py
Due: fe, yapf

Optimize for better compatibility
  docs/README.md
  docs/README_CN.md
  requirements.txt
  visualdl/server/api.py
  visualdl/server/app.py
  visualdl/version.py
Due: yapf

load api dynamically
  visualdl/server/app.py
Due: yapf

Optimize for better compatibility (#1254)
  docs/README.md
  docs/README_CN.md
  requirements.txt
  visualdl/server/api.py
  visualdl/server/app.py
  visualdl/version.py
Due: yapf

[Bug] fix _build_tree_relationship in ProfilerResult
  visualdl/component/profiler/parser/event_node.py
Due: yapf

fix bug when attr value not jsonable
  visualdl/component/graph/graph_component.py
Due: yapf

add new_ir visualization
  .pre-commit-config.yaml
  demo/components/program_test.py
  visualdl/component/graph/exporter.py
  visualdl/component/graph/graph_component.py
  visualdl/component/graph/utils.py
  visualdl/server/app.py
  visualdl/writer/writer.py
Due: yapf

refine some interface
  visualdl/component/graph/exporter.py
  visualdl/component/graph/graph_component.py
  visualdl/component/graph/utils.py
  visualdl/writer/writer.py
Due: yapf

fix pir to kwargs
  demo/components/pir_translate.py
  visualdl/component/graph/exporter.py
  visualdl/component/graph/utils.py
  visualdl/writer/writer.py
Due: yapf

[New Feature] Support Paddle PIR Visualization 🚀 (#1263)
  .pre-commit-config.yaml
  demo/components/pir_translate.py
  visualdl/component/graph/exporter.py
  visualdl/component/graph/graph_component.py
  visualdl/component/graph/utils.py
  visualdl/server/app.py
  visualdl/writer/writer.py
Due: yapf

VisualDL Adaptation for Paddle PIR
  demo/components/cond_inside_cond_test.py
  demo/components/cond_test.py
  demo/components/pir_graph_test.py
  demo/components/pir_program_test.py
  demo/components/while_test.py
  visualdl/component/graph/__init__.py
  visualdl/component/graph/exporter.py
  visualdl/component/graph/graph_component.py
Due: yapf

[Doc] Add document for VisualDL Adaptation for Paddle PIR
  docs/Paddle PIR Visualization.md
Due: none

Dynamic graph changemodel interfaces support *.json file
  frontend/packages/core/src/pages/graphDynamic.tsx
  frontend/packages/netron/src/view.js
  frontend/packages/netron/src/view2.js
  frontend/packages/netron2/src/view.js
  frontend/packages/netron2/src/view2.js
  visualdl/reader/graph_reader.py
  visualdl/server/api.py
Due: fe, yapf

Update Paddle PIR Visualization.md
  docs/Paddle PIR Visualization.md
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none
