Repository PaddlePaddle/VisualDL: changes, and which pre-commit hooks are due for each by the changed paths.
All: fe, yapf

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-symlinks
      - id: destroyed-symlinks
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        alias: be
        exclude: ^frontend/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: fe
        name: lint-staged
        entry: ./frontend/scripts/lint-staged.sh
        language: node
        files: ^frontend/
        description: lint frontend code by lint-staged
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.4.0
    hooks:
      - id: reorder-python-imports

  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        args: [-i, --style .style.yapf]
        files: \.py$

add fastdeploy server component
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
  visualdl/utils/dir.py
Due: yapf

add fastdeploy server and client
  requirements.txt
  visualdl/component/inference/fastdeploy_client/client_app.py
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
  visualdl/component/inference/fastdeploy_client/visualizer.py
Due: yapf

fix a bug
  visualdl/component/inference/model_convert_server.py
Due: yapf

do not crash vdl when logdir is missing (#1149)
  visualdl/component/profiler/profiler_reader.py
Due: yapf

update workflow build environment to py37
  .github/workflows/build.yml
Due: none

update workflow build environment to py37 (#1172)
  .github/workflows/build.yml
Due: none

update workflow build environment to py37 (#1172) (#1174)
  .github/workflows/build.yml
Due: none

Add scalars component (#1081)
  demo/components/scalars_test.py
  visualdl/component/base_component.py
  visualdl/proto/record.proto
  visualdl/proto/record_pb2.py
  visualdl/reader/reader.py
  visualdl/server/api.py
  visualdl/server/data_manager.py
  visualdl/server/lib.py
  visualdl/writer/writer.py
Due: yapf

Add scalars component (#1081) (#1175)
  demo/components/scalars_test.py
  visualdl/component/base_component.py
  visualdl/proto/record.proto
  visualdl/proto/record_pb2.py
  visualdl/reader/reader.py
  visualdl/server/api.py
  visualdl/server/data_manager.py
  visualdl/server/lib.py
  visualdl/writer/writer.py
Due: yapf

fix a bug when device info not exists in json format (#1166)
  visualdl/component/profiler/parser/event_node.py
  visualdl/component/profiler/profiler_data.py
  visualdl/component/profiler/profiler_reader.py
  visualdl/component/profiler/profiler_server.py
  visualdl/component/profiler/run_manager.py
Due: yapf

do not crash vdl when logdir is missing (#1149) (#1171)
  visualdl/component/profiler/profiler_reader.py
Due: yapf

fix a bug when device info not exists in json format (#1166) (#1176)
  visualdl/component/profiler/parser/event_node.py
  visualdl/component/profiler/profiler_data.py
  visualdl/component/profiler/profiler_reader.py
  visualdl/component/profiler/profiler_server.py
  visualdl/component/profiler/run_manager.py
Due: yapf

fix
  visualdl/component/graph/exporter.py
Due: yapf

fixhistoram
  frontend/packages/core/src/components/StackChart.tsx
Due: fe

add onnx requirement
  requirements.txt
  visualdl/component/inference/model_convert_server.py
Due: yapf

fixhistoram (#1177)
  frontend/packages/core/src/components/StackChart.tsx
Due: fe

修复直方图offset模式下不展示问题 (#1165)
  frontend/packages/core/snowpack.config.js
  frontend/packages/core/src/components/StackChart.tsx
  frontend/packages/mock/data/app/component_tabs.js
  frontend/yarn.lock
Due: fe

fastdeploy
  frontend/packages/core/src/pages/Fastdeploy.tsx
Due: fe

fastdeploy
  frontend/packages/core/package.json
  frontend/packages/core/snowpack.config.js
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/components/FastdeployGraph/index3.tsx
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
  frontend/packages/core/src/components/FastdeployGraph/websocket.ts
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/core/src/utils/fetch.ts
  frontend/packages/core/types/netron.d.ts
  frontend/packages/mock/data/fastdeploy/config_update.js
  frontend/packages/mock/data/fastdeploy/get_config.js
  frontend/packages/mock/data/fastdeploy/get_directory.js
  frontend/packages/mock/data/fastdeploy/get_server_output.js
  frontend/packages/mock/data/fastdeploy/start_server.js
  frontend/packages/mock/data/fastdeploy/stop_server.js
  frontend/packages/netron2/src/view.js
  frontend/packages/netron3/.browserslistrc
  frontend/packages/netron3/README.md
  frontend/packages/netron3/package.json
  frontend/packages/netron3/postcss.config.js
  frontend/packages/netron3/src/index.html
  frontend/packages/netron3/src/index.js
  frontend/packages/netron3/webpack.config.js
  frontend/yarn.lock
Due: fe

type
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/components/FastdeployGraph/index3.tsx
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
  frontend/packages/core/src/components/FastdeployGraph/websocket.ts
  frontend/packages/core/src/pages/Fastdeploy.tsx
Due: fe

objectKey
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/pages/Fastdeploy.tsx
  frontend/packages/mock/data/fastdeploy/get_config.js
Due: fe

refactor code
  visualdl/component/graph/graph_component.py
Due: yapf

fix export bug when multiple blocks in graph (#1162)
  visualdl/component/graph/exporter.py
  visualdl/component/graph/graph_component.py
  visualdl/writer/writer.py
Due: yapf

add exception description
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

fix export bug when multiple blocks in graph (#1162) (#1180)
  visualdl/component/graph/exporter.py
  visualdl/component/graph/graph_component.py
  visualdl/writer/writer.py
Due: yapf

fixbug objectkey
  frontend/packages/core/src/components/FastdeployGraph/Clinet.tsx
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/core/src/pages/FastdeployClient.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/mock/data/component_tabs.js
  frontend/packages/mock/data/fastdeploy/create_fastdeploy_client.js
  frontend/packages/netron3/webpack.config.js
Due: fe

fix
  visualdl/component/inference/fastdeploy_lib.py
Due: yapf

route
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/mock/data/component_tabs.js
  frontend/packages/mock/data/graph_runs.js
Due: fe

route
  frontend/packages/core/src/components/Navbar.tsx
Due: fe

route2
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

route3
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

merge2
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

merge3
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

add model repository judgement
  visualdl/component/inference/fastdeploy_lib.py
Due: yapf

merge4
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/core/src/pages/Fastdeploy.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/mock/data/component_tabs.js
  frontend/packages/mock/data/fastdeploy/get_directory.js
  frontend/packages/mock/data/graph_runs.js
Due: fe

merge6
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/pages/Fastdeploy.tsx
Due: fe

merge7
  frontend/packages/core/src/pages/Fastdeploy.tsx
Due: fe

merge8
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/mock/data/component_tabs.js
Due: fe
