Repository PaddlePaddle/VisualDL: changes, and which pre-commit hooks are due for each by the changed paths.
All: fe, yapf

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-symlinks
      - id: destroyed-symlinks
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        alias: be
        exclude: ^frontend/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: fe
        name: lint-staged
        entry: ./frontend/scripts/lint-staged.sh
        language: node
        files: ^frontend/
        description: lint frontend code by lint-staged
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.4.0
    hooks:
      - id: reorder-python-imports

  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        args: [-i, --style .style.yapf]
        files: \.py$

end7
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

fix a bug for string format (#1199)
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
  visualdl/component/inference/fastdeploy_client/visualizer.py
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
  visualdl/component/inference/model_convert_server.py
  visualdl/component/profiler/profiler_reader.py
Due: yapf

update app for flask babel api
  visualdl/server/app.py
Due: yapf

update app for flask babel api (#1201)
  visualdl/server/app.py
Due: yapf

update docs
  README.md
  README_CN.md
  docs/README.md
  docs/README_CN.md
  docs/components/README.md
  docs/components/README_CN.md
  docs/components/fastdeploy_server/README.md
  docs/components/fastdeploy_server/README_CN.md
Due: none

update docs
  docs/components/README.md
  docs/components/README_CN.md
  docs/components/fastdeploy_server/README_CN.md
Due: none

update docs
  docs/components/fastdeploy_server/README.md
  docs/components/fastdeploy_server/README_CN.md
Due: none

[Doc] Add document for fastdeploy components (#1189)
  README.md
  README_CN.md
  docs/README.md
  docs/README_CN.md
  docs/components/README.md
  docs/components/README_CN.md
  docs/components/fastdeploy_client/README.md
  docs/components/fastdeploy_client/README_CN.md
  docs/components/fastdeploy_server/README.md
  docs/components/fastdeploy_server/README_CN.md
  docs/components/profiler/README.md
  docs/components/profiler/README_CN.md
Due: none

fix autofilling fd client
  requirements.txt
  visualdl/server/app.py
Due: yapf

robust pattern for auto filling fd client
  visualdl/server/app.py
Due: yapf

[Bug] Fix autofilling FD client (#1202)
  requirements.txt
  visualdl/server/app.py
Due: yapf

add changelog for vdl v2.5.0
  CHANGELOG.md
Due: none

robust autofilling fd client
  visualdl/server/app.py
Due: yapf

robust autofilling fd client (#1204)
  visualdl/server/app.py
Due: yapf

[Doc] add changelog for vdl v2.5.0 (#1203)
  CHANGELOG.md
Due: none

bump visualdl to v2.5.0
  visualdl/version.py
Due: yapf

bump visualdl to v2.5.0 (#1205)
  visualdl/version.py
Due: yapf

fixbug
  frontend/packages/core/public/locales/en/common.json
  frontend/packages/core/public/locales/zh/common.json
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/core/src/pages/graphStatic3.tsx
  frontend/packages/core/src/pages/x2paddle.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/mock/data/graph/static_graph.js
  frontend/packages/netron/src/index.js
  frontend/packages/netron2/src/index.js
Due: fe

upgrade protoc to v4.21.12
  visualdl/component/inference/proto/model_config_pb2.py
  visualdl/proto/record_pb2.py
Due: yapf

fixbug (#1207)
  frontend/packages/core/public/locales/en/common.json
  frontend/packages/core/public/locales/zh/common.json
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/core/src/pages/graphStatic3.tsx
  frontend/packages/core/src/pages/x2paddle.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/mock/data/graph/static_graph.js
  frontend/packages/netron/src/index.js
  frontend/packages/netron2/src/index.js
Due: fe

modify requirements
  requirements.txt
Due: none

add flake skip for automate generated code
  visualdl/component/inference/proto/model_config_pb2.py
  visualdl/proto/record_pb2.py
Due: yapf

upgrade protoc to v4.21.12 (#1212)
  requirements.txt
  visualdl/component/inference/proto/model_config_pb2.py
  visualdl/proto/record_pb2.py
Due: yapf

fixName
  frontend/packages/core/src/components/FastdeployGraph/CPUTables.tsx
Due: fe

fixName (#1213)
  frontend/packages/core/src/components/FastdeployGraph/CPUTables.tsx
Due: fe

fixName (#1213) (#1215)
  frontend/packages/core/src/components/FastdeployGraph/CPUTables.tsx
Due: fe

fixbug (#1207) (#1216)
  frontend/packages/core/public/locales/en/common.json
  frontend/packages/core/public/locales/zh/common.json
  frontend/packages/core/src/components/Navbar.tsx
  frontend/packages/core/src/pages/graphStatic3.tsx
  frontend/packages/core/src/pages/x2paddle.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/mock/data/graph/static_graph.js
  frontend/packages/netron/src/index.js
  frontend/packages/netron2/src/index.js
Due: fe

upgrade protoc to v4.21.12 (#1212) (#1217)
  requirements.txt
  visualdl/component/inference/proto/model_config_pb2.py
  visualdl/proto/record_pb2.py
Due: yapf

bump vdl to v2.5.1
  CHANGELOG.md
  visualdl/version.py
Due: yapf

fix bug for interrupting failure in windows
  requirements.txt
  visualdl/component/profiler/profiler_reader.py
  visualdl/server/app.py
Due: yapf

Bump vdl to v2.5.1 (#1219)
  CHANGELOG.md
  requirements.txt
  visualdl/component/profiler/profiler_reader.py
  visualdl/server/app.py
  visualdl/version.py
Due: yapf

fix tips error
  frontend/packages/core/src/utils/fetch.ts
Due: fe

fix bug for interrupting failure in windows (#1218)
  requirements.txt
  visualdl/component/profiler/profiler_reader.py
  visualdl/server/app.py
Due: yapf

robust code for profiler
  visualdl/component/profiler/profiler_server.py
  visualdl/reader/reader.py
Due: yapf
