Repository PaddlePaddle/VisualDL: changes, and which pre-commit hooks are due for each by the changed paths.
All: fe, yapf

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-symlinks
      - id: destroyed-symlinks
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        alias: be
        exclude: ^frontend/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: fe
        name: lint-staged
        entry: ./frontend/scripts/lint-staged.sh
        language: node
        files: ^frontend/
        description: lint frontend code by lint-staged
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.4.0
    hooks:
      - id: reorder-python-imports

  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        args: [-i, --style .style.yapf]
        files: \.py$

12-28 8
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/pages/Fastdeploy.tsx
  frontend/packages/mock/data/fastdeploy/download_pretrain_model.js
Due: fe

12-29
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

rename download model
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

12-29 2
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

12-29 3
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/mock/data/fastdeploy/get_config.js
Due: fe

12-29 4
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

12-29 5
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

fix a bug
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

add fastdeploy model list
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

12-30
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/mock/data/fastdeploy/get_pretrain_model_list.js
Due: fe

12-30 2
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

12-30 3
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

12-30 4
  frontend/packages/core/src/pages/Fastdeploy.tsx
Due: fe

12-30 5
  frontend/packages/core/src/pages/Fastdeploy.tsx
Due: fe

optimize for choose configuration files
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

add config_names
  frontend/packages/core/src/components/FastdeployGraph/ServerConfig.tsx
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
  frontend/packages/mock/data/fastdeploy/get_config.js
  frontend/packages/mock/data/fastdeploy/get_config_filenames_for_model.js
  frontend/packages/mock/data/fastdeploy/get_config_for_model.js
  frontend/packages/mock/data/fastdeploy/set_default_config_for_model.js
Due: fe

add config_names2
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

modify according to frontend need
  visualdl/component/inference/fastdeploy_lib.py
Due: yapf

change develop version to 0.0.0
  visualdl/version.py
Due: yapf

add config_names3
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/mock/data/fastdeploy/get_config_filenames_for_model.js
  frontend/packages/mock/data/fastdeploy/get_config_for_model.js
Due: fe

add config_names4
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/mock/data/fastdeploy/get_config_for_model.js
Due: fe

add config_names5
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

add config_names6
  frontend/packages/core/src/components/FastdeployGraph/ServerConfig.tsx
Due: fe

add document for fastdeploy components
  docs/README_CN.md
  docs/components/README_CN.md
  docs/components/profiler/README.md
  docs/components/profiler/README_CN.md
Due: none

add xpaddle
  frontend/packages/core/src/components/GraphPage/GraphStatic.tsx
  frontend/packages/core/src/components/GraphPage/GraphStatic2.tsx
  frontend/packages/core/src/pages/graphStatic.tsx
  frontend/packages/core/src/pages/graphStatic2.tsx
Due: fe

fix name in config to model name
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

add document for fastdeploy components
  docs/components/fastdeploy_client/README_CN.md
  docs/components/fastdeploy_server/README_CN.md
Due: none

add config_names7
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/components/GraphPage/Uploader.tsx
  frontend/packages/core/src/pages/Fastdeploy.tsx
  frontend/packages/mock/data/fastdeploy/get_config_for_model.js
Due: fe

add type
  frontend/packages/core/src/pages/graphStatic.tsx
  frontend/packages/core/src/pages/graphStatic2.tsx
Due: fe

add totast
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
Due: fe

optimize for server list and alive judgement
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

add alve
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
  frontend/packages/mock/data/fastdeploy/check_server_alive.js
Due: fe

debugger
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

add document for fastdeploy components
  docs/README_CN.md
  docs/components/README_CN.md
  docs/components/fastdeploy_client/README_CN.md
  docs/components/fastdeploy_server/README_CN.md
Due: none

add alive2
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
  frontend/packages/core/src/pages/Fastdeploy.tsx
Due: fe

add alive3
  frontend/packages/core/src/pages/Fastdeploy.tsx
  frontend/packages/mock/data/fastdeploy/get_server_list.js
Due: fe

keep server name as string type
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

add alive4
  frontend/packages/core/src/pages/Fastdeploy.tsx
  frontend/packages/mock/data/fastdeploy/get_server_list.js
Due: fe
