Repository PaddlePaddle/VisualDL: changes, and which pre-commit hooks are due for each by the changed paths.
All: fe, yapf

fe:
  name: lint-staged
  entry: ./frontend/scripts/lint-staged.sh
  language: node
  description: lint frontend code by lint-staged

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i
  - --style .style.yapf

optimize process judgement logic
  requirements.txt
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

optimize for deleting resource files
  visualdl/component/inference/fastdeploy_client/client_app.py
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

add graph
  docs/components/README_CN.md
  docs/components/fastdeploy_client/README_CN.md
  docs/components/fastdeploy_server/README_CN.md
Due: none

fix links
  docs/README_CN.md
  docs/components/README_CN.md
  docs/components/fastdeploy_server/README_CN.md
Due: none

fix links
  docs/README_CN.md
Due: none

add rename resource file
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

fix
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

add onnx dependency for x2paddle (#1160)
  requirements.txt
  visualdl/component/inference/model_convert_server.py
Due: yapf

fix a bug
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
Due: yapf

support multiple vdl process when using gunicorn for x2paddle (#1170)
  visualdl/component/inference/model_convert_server.py
  visualdl/utils/dir.py
Due: yapf

Change develop version to 0.0.0
  visualdl/version.py
Due: yapf

add rename
  frontend/packages/core/src/App.tsx
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/pages/Fastdeploy.tsx
  frontend/packages/mock/data/fastdeploy/delete_config_for_model.js
  frontend/packages/mock/data/fastdeploy/delete_resource_for_model.js
  frontend/packages/mock/data/fastdeploy/get_config_for_model.js
  frontend/packages/mock/data/fastdeploy/rename_resource_for_model.js
Due: fe

add rename2
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/mock/data/fastdeploy/get_config.js
Due: fe

add rename3
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

add rename4
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

add toast
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

add clear
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/mock/data/fastdeploy/get_config.js
Due: fe

optimize code structure
  visualdl/component/inference/fastdeploy_client/__init__.py
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/proto/model_config/__init__.py
  visualdl/component/inference/proto/model_config/protxt_pb2.py
Due: yapf

optimize code structure
  visualdl/component/inference/proto/__init__.py
  visualdl/component/inference/proto/model_config_pb2.py
Due: yapf

remove chinese tips and remove fastdeploy-python in requirements
  requirements.txt
  visualdl/component/inference/fastdeploy_client/visualizer.py
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
Due: yapf

Add fastdeploy server and client component (#1169)
  requirements.txt
  visualdl/component/inference/fastdeploy_client/__init__.py
  visualdl/component/inference/fastdeploy_client/client_app.py
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
  visualdl/component/inference/fastdeploy_client/visualizer.py
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
  visualdl/component/inference/proto/__init__.py
  visualdl/component/inference/proto/model_config.protxt
  visualdl/component/inference/proto/model_config_pb2.py
  visualdl/server/api.py
  visualdl/server/app.py
  visualdl/server/args.py
  visualdl/utils/dir.py
Due: yapf

update doc
  docs/components/fastdeploy_server/README_CN.md
Due: none

add zh
  frontend/packages/core/public/locales/en/Fastdeploy.json
  frontend/packages/core/public/locales/zh/Fastdeploy.json
  frontend/packages/core/src/components/FastdeployGraph/CPUTables.tsx
  frontend/packages/core/src/components/FastdeployGraph/Clinet.tsx
  frontend/packages/core/src/components/FastdeployGraph/ModelTables.tsx
  frontend/packages/core/src/components/FastdeployGraph/ServerConfig.tsx
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
  frontend/packages/core/src/pages/Fastdeploy.tsx
Due: fe

add zh
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
  frontend/packages/core/src/pages/Fastdeploy.tsx
Due: fe

add english document
  docs/README.md
  docs/components/README.md
  docs/components/README_CN.md
  docs/components/fastdeploy_client/README.md
  docs/components/fastdeploy_client/README_CN.md
  docs/components/fastdeploy_server/README.md
  docs/components/fastdeploy_server/README_CN.md
Due: none

add english document
  docs/README.md
  docs/components/README.md
Due: none

update document for index
  README.md
  README_CN.md
  docs/README.md
  docs/README_CN.md
Due: none

add english page for fastdeploy client
  visualdl/component/inference/fastdeploy_client/client_app.py
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
  visualdl/component/inference/fastdeploy_server.py
  visualdl/server/app.py
Due: yapf

add zh2
  frontend/packages/core/public/locales/en/Fastdeploy.json
  frontend/packages/core/public/locales/zh/Fastdeploy.json
  frontend/packages/core/src/components/FastdeployGraph/CPUTables.tsx
  frontend/packages/core/src/components/FastdeployGraph/Clinet.tsx
  frontend/packages/core/src/components/FastdeployGraph/ModelTables.tsx
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
  frontend/packages/core/src/pages/FastdeployClient.tsx
Due: fe

fix a bug
  visualdl/component/inference/fastdeploy_client/client_app.py
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
  visualdl/server/app.py
Due: yapf

update format
  docs/components/fastdeploy_server/README.md
  docs/components/fastdeploy_server/README_CN.md
Due: none

add English version for fastdeploy client (#1197)
  visualdl/component/inference/fastdeploy_client/client_app.py
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
  visualdl/component/inference/fastdeploy_server.py
  visualdl/server/app.py
Due: yapf

end2
  frontend/packages/core/src/components/FastdeployGraph/ServerConfig.tsx
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
  frontend/packages/core/src/pages/graphStatic.tsx
  frontend/packages/core/src/pages/graphStatic2.tsx
Due: fe

end3
  frontend/packages/core/src/components/FastdeployGraph/CPUTables.tsx
  frontend/packages/core/src/components/FastdeployGraph/ModelTables.tsx
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
  frontend/packages/core/src/pages/Fastdeploy.tsx
Due: fe

end4
  frontend/packages/core/src/components/FastdeployGraph/serverBox.tsx
Due: fe

fix a bug for string format
  visualdl/component/inference/fastdeploy_client/http_client_manager.py
  visualdl/component/inference/fastdeploy_client/visualizer.py
  visualdl/component/inference/fastdeploy_lib.py
  visualdl/component/inference/fastdeploy_server.py
  visualdl/component/inference/model_convert_server.py
  visualdl/component/profiler/profiler_reader.py
Due: yapf

end5
  frontend/packages/core/public/locales/en/Fastdeploy.json
  frontend/packages/core/public/locales/zh/Fastdeploy.json
  frontend/packages/core/src/components/FastdeployGraph/CPUTables.tsx
  frontend/packages/core/src/components/FastdeployGraph/index.tsx
Due: fe

end6
  frontend/packages/core/public/locales/en/Fastdeploy.json
Due: fe

Path conditions:
  fe: any of: ^frontend/
  yapf: any of: \.py$
