Repository PaddlePaddle/VisualDL: changes, and which pre-commit hooks are due for each by the changed paths.
All: fe, yapf

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-symlinks
      - id: destroyed-symlinks
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        alias: be
        exclude: ^frontend/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: fe
        name: lint-staged
        entry: ./frontend/scripts/lint-staged.sh
        language: node
        files: ^frontend/
        description: lint frontend code by lint-staged
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.4.0
    hooks:
      - id: reorder-python-imports

  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        args: [-i, --style .style.yapf]
        files: \.py$

fix a bug in logreader
  demo/components/scalars_test.py
  visualdl/reader/reader.py
  visualdl/server/data_manager.py
  visualdl/server/lib.py
Due: yapf

restore
  frontend/packages/core/src/components/LineChart.tsx
  frontend/packages/core/src/components/ScalarChart.tsx
  frontend/packages/core/src/hooks/useECharts.ts
  frontend/packages/core/src/pages/scalar.tsx
Due: fe

integrate x2paddle tool
  requirements.txt
  visualdl/component/inference/model_convert_server.py
  visualdl/component/inference/xarfile.py
  visualdl/server/app.py
Due: yapf

✨ feat: graph 转换功能代码
  frontend/packages/core/package.json
  frontend/packages/core/public/locales/en/common.json
  frontend/packages/core/public/locales/zh/common.json
  frontend/packages/core/snowpack.config.js
  frontend/packages/core/src/components/GraphPage/GraphStatic2.tsx
  frontend/packages/core/src/components/LineChart.tsx
  frontend/packages/core/src/components/ScalarChart.tsx
  frontend/packages/core/src/components/toggleGraph/index.tsx
  frontend/packages/core/src/pages/graphStatic2.tsx
  frontend/packages/core/src/pages/togglrGraph.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/netron2/.browserslistrc
  frontend/packages/netron2/README.md
  frontend/packages/netron2/package.json
  frontend/packages/netron2/postcss.config.js
  frontend/packages/netron2/src/index.html
  frontend/packages/netron2/src/index.js
  frontend/packages/netron2/src/paddle-metadata.js
  frontend/packages/netron2/src/shim.js
  frontend/packages/netron2/src/sidebar.js
  frontend/packages/netron2/src/style.scss
  frontend/packages/netron2/src/view-grapher.js
  frontend/packages/netron2/src/view.js
  frontend/packages/netron2/src/view2.js
  frontend/packages/netron2/webpack.config.js
  frontend/yarn.lock
Due: fe

fix caffe convertion bug
  visualdl/component/inference/model_convert_server.py
Due: yapf

do not crash vdl when logdir is missing
  visualdl/component/profiler/profiler_reader.py
Due: yapf

✨ feat: 图转换代码
  frontend/packages/core/src/components/GraphPage/GraphStatic.tsx
  frontend/packages/core/src/components/GraphPage/GraphStatic2.tsx
  frontend/packages/core/src/pages/graphStatic2.tsx
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

add post support
  visualdl/component/inference/__init__.py
  visualdl/server/app.py
Due: yapf

merge
  frontend/packages/core/package.json
  frontend/packages/core/snowpack.config.js
  frontend/packages/core/src/components/LineChart.tsx
  frontend/packages/core/src/components/ScalarChart.tsx
  frontend/packages/core/src/pages/graphStatic.tsx
  frontend/packages/core/src/pages/togglrGraph.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/core/src/utils/fetch.ts
  frontend/packages/netron2/webpack.config.js
  frontend/packages/server/index.ts
  frontend/yarn.lock
Due: fe

11-08 firist
  frontend/packages/core/snowpack.config.js
  frontend/packages/core/src/components/GraphPage/GraphStatic2.tsx
  frontend/packages/core/src/pages/graphStatic.tsx
  frontend/packages/core/src/pages/graphStatic2.tsx
  frontend/packages/core/src/pages/togglrGraph.tsx
  frontend/packages/core/src/utils/fetch.ts
  frontend/packages/netron/src/index.js
  frontend/packages/netron2/src/index.js
Due: fe

11-08 two
  frontend/packages/core/public/locales/en/graph.json
  frontend/packages/core/public/locales/zh/graph.json
  frontend/packages/core/src/components/GraphPage/GraphSidebar.tsx
  frontend/packages/core/src/components/GraphPage/Uploader.tsx
  frontend/packages/core/src/pages/graphStatic.tsx
  frontend/packages/core/src/pages/togglrGraph.tsx
  frontend/packages/core/src/utils/fetch.ts
Due: fe

fix tar file path
  visualdl/component/inference/model_convert_server.py
Due: yapf

11-09
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

11-09 2
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

11-09 3
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

11-09 4
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

11-09 5
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

11-09 6
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

11-09 7
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

11-09 8
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

11-09 9
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

11-09 10
  frontend/packages/core/public/locales/en/togglegraph.json
  frontend/packages/core/public/locales/zh/togglegraph.json
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

add download api
  visualdl/component/inference/model_convert_server.py
Due: yapf

merge
  tmp6b9qg73f.tar
  tmpe06l54tk.tar
  tmpexwzsxno.tar
Due: none

download
  frontend/packages/core/src/pages/togglrGraph.tsx
Due: fe

finly
  frontend/packages/core/public/locales/en/graph.json
  frontend/packages/core/public/locales/zh/graph.json
  frontend/packages/core/src/App.tsx
  frontend/packages/core/src/components/GraphPage/Uploader.tsx
  frontend/packages/core/src/pages/graphStatic.tsx
  frontend/packages/core/src/pages/togglrGraph.tsx
  frontend/packages/core/src/utils/fetch.ts
  frontend/packages/mock/data/graph/graph.js
Due: fe

finly
  frontend/packages/core/src/pages/x2paddle.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/netron/src/index.js
  frontend/packages/netron2/src/index.js
Due: fe

finly
  requirements.txt
  tmp6b9qg73f.tar
  tmpe06l54tk.tar
  tmpexwzsxno.tar
Due: none

delete backend file
  visualdl/component/inference/__init__.py
  visualdl/component/inference/model_convert_server.py
  visualdl/component/inference/xarfile.py
  visualdl/server/app.py
Due: yapf

add tips for users
  requirements.txt
  visualdl/component/inference/model_convert_server.py
Due: yapf

finlys
  frontend/packages/core/package.json
  frontend/packages/core/public/locales/en/common.json
  frontend/packages/core/public/locales/en/graph.json
  frontend/packages/core/public/locales/en/togglegraph.json
  frontend/packages/core/public/locales/zh/common.json
  frontend/packages/core/public/locales/zh/graph.json
  frontend/packages/core/public/locales/zh/togglegraph.json
  frontend/packages/core/snowpack.config.js
  frontend/packages/core/src/App.tsx
  frontend/packages/core/src/components/GraphPage/GraphSidebar.tsx
  frontend/packages/core/src/components/GraphPage/GraphStatic2.tsx
  frontend/packages/core/src/components/GraphPage/Uploader.tsx
  frontend/packages/core/src/components/toggleGraph/index.tsx
  frontend/packages/core/src/pages/graphStatic2.tsx
  frontend/packages/core/src/pages/x2paddle.tsx
  frontend/packages/core/src/routes/index.ts
  frontend/packages/core/src/utils/fetch.ts
  frontend/packages/core/types/netron.d.ts
  frontend/packages/netron2/.browserslistrc
  frontend/packages/netron2/README.md
  frontend/packages/netron2/package.json
  frontend/packages/netron2/postcss.config.js
  frontend/packages/netron2/src/index.html
  frontend/packages/netron2/src/index.js
  frontend/packages/netron2/src/paddle-metadata.js
  frontend/packages/netron2/src/shim.js
  frontend/packages/netron2/src/sidebar.js
  frontend/packages/netron2/src/style.scss
  frontend/packages/netron2/src/view-grapher.js
  frontend/packages/netron2/src/view.js
  frontend/packages/netron2/src/view2.js
  frontend/packages/netron2/webpack.config.js
  frontend/packages/server/index.ts
  frontend/yarn.lock
Due: fe

finlys2
  frontend/packages/core/package.json
  frontend/packages/core/snowpack.config.js
  frontend/yarn.lock
Due: fe

finlys3
  frontend/packages/core/src/App.tsx
Due: fe

do not crash vdl when logdir is missing (#1149)
  visualdl/component/profiler/profiler_reader.py
Due: yapf

[Backend] integrate x2paddle tool (#1148)
  requirements.txt
  visualdl/component/inference/__init__.py
  visualdl/component/inference/model_convert_server.py
  visualdl/component/inference/xarfile.py
  visualdl/server/app.py
Due: yapf

add available component tab control
  visualdl/component/profiler/profiler_reader.py
  visualdl/component/profiler/profiler_server.py
  visualdl/reader/graph_reader.py
  visualdl/reader/reader.py
  visualdl/server/api.py
  visualdl/server/app.py
  visualdl/server/args.py
Due: yapf

fix string format
  visualdl/server/args.py
Due: yapf
