Repository PaddlePaddle/VisualDL: changes, and which pre-commit hooks are due for each by the changed paths.
All: fe, yapf

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-symlinks
      - id: destroyed-symlinks
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        alias: be
        exclude: ^frontend/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: fe
        name: lint-staged
        entry: ./frontend/scripts/lint-staged.sh
        language: node
        files: ^frontend/
        description: lint frontend code by lint-staged
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.4.0
    hooks:
      - id: reorder-python-imports

  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        args: [-i, --style .style.yapf]
        files: \.py$

Update build.yml
  .github/workflows/build.yml
Due: none

Update build.yml (#1280)
  .github/workflows/build.yml
Due: none

Fix code style
  demo/components/cond_inside_cond_test.py
  demo/components/cond_test.py
  demo/components/pir_graph_test.py
  demo/components/while_test.py
  visualdl/component/graph/graph_component.py
Due: yapf

Fix paddle dependency
  visualdl/component/graph/exporter.py
  visualdl/component/graph/graph_component.py
  visualdl/reader/graph_reader.py
Due: yapf

[Ospp] VisualDL Support Paddle PIR (#1279)
  demo/components/cond_inside_cond_test.py
  demo/components/cond_test.py
  demo/components/pir_graph_test.py
  demo/components/pir_program_test.py
  demo/components/while_test.py
  docs/Paddle PIR Visualization.md
  frontend/packages/core/src/pages/graphDynamic.tsx
  frontend/packages/netron/src/view.js
  frontend/packages/netron/src/view2.js
  frontend/packages/netron2/src/view.js
  frontend/packages/netron2/src/view2.js
  visualdl/component/graph/__init__.py
  visualdl/component/graph/exporter.py
  visualdl/component/graph/graph_component.py
  visualdl/reader/graph_reader.py
  visualdl/server/api.py
Due: fe, yapf

Change version to 3.0-beta
  visualdl/version.py
Due: yapf

added a python publish workflow (#1281) (#1282)
  .github/workflows/python-publish.yml
Due: none

Update node version in python-publish.yml
  .github/workflows/python-publish.yml
Due: none

Update node version in python-publish.yml (#1283)
  .github/workflows/python-publish.yml
Due: none

Fix wasm-pack not found error
  frontend/scripts/install.sh
Due: fe

Fix source code installation bug
  frontend/scripts/install.sh
  frontend/yarn.lock
  requirements.txt
Due: fe

add parameters --modelfile
  visualdl/reader/graph_reader.py
  visualdl/server/api.py
  visualdl/server/app.py
  visualdl/server/args.py
Due: yapf

Fix operator attribute visualization bug
  visualdl/component/graph/graph_component.py
Due: yapf

Fix var bugs
  visualdl/component/graph/graph_component.py
Due: yapf

check source type
  visualdl/component/graph/graph_component.py
Due: yapf

Update README_CN.md
  docs/README_CN.md
Due: none

fix np.float
  visualdl/component/base_component.py
Due: yapf
